body{
    background-size:cover
}    
h1{
    width: 100%;
    text-align: center;
}
#instructions{
    width: 60%;
    text-align: center;
    background-color: orange;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px;
    border-color: black;
    border-style: solid;
}
.container{
    height: 200px;;
}
#start{
    width: 10%;
    position: relative;
    left: 45%;
    top: 50%;
}
#question{
    width: 100%;
    text-align: center;
}
.ansbox{
    height: 300px;
}
.answers{
    position: relative;
    left: 30%;
    letter-spacing: 5px;
}
#result{
    width: 40%;
    text-align: center;
    color: white;
    background-color: green;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px;
    border-color: black;
    border-style: solid;
}
.answerchoice{
    width: 100px;
    height: 50px;
    margin-bottom: 5px;
}
.timer{
    width: 100%;
    text-align: center;
}
#TimeLeftBar{
    height: 20px;
    width: 40%;
    margin-right: 30%;
    margin-left: 30%;
}